<form class="navbar-form navbar-right" role="search">
  <div class="form-group">
    <%= search_form_for @query do |f| %>
    <%= f.text_field :title_cont %>
    <%= f.submit %>
    <% end %>
  </div>
</form>

<div class="row top-row">
  <div class="col-md-3 pull-right">
    <% if user_signed_in? %>
    <%= link_to 'Upload a design', new_design_path, class:
      "btn btn-primary btn-lg" %>
    <% end %>
  </div>
  <h1>Welcome to threepo, the world's greatest 3d-print design repo</h1>
</div>

<%= render @designs %>
