<div class="well">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div>
      <%= image_tag @design.image_url(:thumb) %>
      </div>
    </div>
  </div><br><br>

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <div class="panel-title"><h2><%= @design.title %></h2></div>
      </div>

      <div class="panel-body">
        <h4>"<%= @design.description %>"<br><br>
        - <%= @design.user.email %></h4>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if user_signed_in? %>
      <h2>Add a comment:</h2>
      <%= render "comments/form" %>
    <% end %>

    <%= render @design.comments %>
    <div class="text-center">
      <%= link_to 'Back to Home', designs_path %>
    </div>
  </div>
</div>


